.wrapper {
    width: 100%;
    padding: 25px 25px 15px 25px;
    font-family: var(--rdb-font);
    box-sizing: border-box;
}

.input {
    width: 100%;
    font-size: 20px;
    margin-left: 8px;
    color: var(--rdb-text-normal);
    resize: none;
    overflow: hidden;
    background-color: transparent;
}

.input[contenteditable="true"] {
    color: #cfcfcf;
}

.input[contenteditable]:empty::before {
    content: "What do you think about this user?";
    color: var(--rdb-text-muted);
}

.input:hover {
    cursor: text;
}

.input:focus-visible {
    outline: none;
}

.review-area {
    display: flex;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid var(--rdb-border-color);
}

.review-area::-webkit-scrollbar {
    width: 0px;
}

.bottom {
    display: flex;
    margin-top: 13px;
    align-items: center;
    justify-content: end;
}

.bottom .counter {
    color: gray;
    font-weight: 500;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid var(--rdb-text-muted);
}

.bottom button {
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    background: var(--rdb-button-color);
    color: var(--rdb-text-normal);
    cursor: pointer;
    transition: filter 0.2s ease;
}

.bottom button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.bottom button:hover {
    filter: brightness(0.9);
}
