.avator {
    border-radius: 100px;
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.review-header {
    display: flex;
    align-items: flex-start;
    margin: 16px 0 16px 0;
    font-size: 14px;
    margin-left: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.review-header-info {
    font-weight: bold;
    color: white;
}
.review-header-info span {
    color: #657786;
    font-weight: normal;
    margin-left: 5px;
}
.review-header-info p {
    font-weight: normal;
    margin-top: 5px;
}

@media screen and (max-width: 430px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .review-header {
        flex-direction: column;
    }
    .review-header img {
        margin-bottom: 20px;
    }
    .review-header-info p {
        margin-bottom: 30px;
    }
}
